ul#fizzbuzz_list{
  list-style-type: none;
  padding-left: 10px;
}

li{
  padding: 3px;
}

.fizz_item{
  background-color: rgba(255, 0, 0, 0.2);
}

.buzz_item{
  background-color: rgba(0, 0, 225, 0.15);
}

.fizzbuzz_item{
  background-color: rgba(128, 0, 225, 0.3);
}